<p>Q) What is capital of India</p>
<p>Ans) New Delhi </p>

<p> Q) How many players are in cricket Team ? </p>
<p> 11 players </p>

<p> What is american favourite word </p>
<p> This is hilarious , LOL </p>