extends layout
block content
 p
  | Q) What is capital of India ?
 p
  | Ans ) New Delhi
 p
  | Q) Where is Silicon Valley?
 p
  | Ans )San Franscisco
 p
  | Q) Where is Silicon Beach
 p
  | Ans ) Los Angeles
 form(action="/", method = "get") 
   input(type="submit", value="Go Back")