"HELLO"


<form method="post" action="/register">
	<p>Name</p>
	<p><input type="text" name="username"/></p>
	<p>Email</p>
	<p><input type="text" name="email"/></p>
	<p>Password</p>
	<p><input type="password" name="password1"/></p>
	<input type="submit"/>
	<input type="button"  value="Go Back"/>
</form>


	
